.comp{
    display: grid;
    place-items: center;
    
}
.opis{
    max-width: 50vw;
    margin: 10px
    
}
.allow{
    margin: 10px
}

.App{
    height: 100vh;
    background-color: whitesmoke;
    padding: 25px;
}

input{
    margin-inline: 5px;
}

.xssInput{
    margin: 10px
}

button{
    margin: 5px
}

